/* Fonts */

/* Chronicle display normal */
@font-face {
  font-family: Chronicle;
  src: url(../assets/font/chronicle-display/Chronicle\ Display\ Roman.otf);
  font-weight: normal;
}
/* Chronicle display semibold */
@font-face {
  font-family: Chronicle;
  src: url(../assets/font/chronicle-display/Chronicle\ Display\ Semibold.otf);
  font-weight: semibold;
}
/* Chronicle display bold */
@font-face {
  font-family: Chronicle;
  src: url(../assets/font/chronicle-display/Chronicle\ Display\ Black.otf);
  font-weight: bold;
}

/* Gilroy bold */
@font-face {
  font-family: Gilroy;
  src: url(../assets/font/Gilroy-FREE/Gilroy-Light.otf);
  font-weight: normal;
}
@font-face {
  font-family: Gilroy;
  src: url(../assets/font/Gilroy-FREE/Gilroy-ExtraBold.otf);
  font-weight: bold;
}

/* Resets*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-size: 16px;
}

/* Custom variables*/
:root {
  --text-small-color: #fbd784;
  --text-muted-color: #c2c7c8;
  --bg-color: #354147;
}

/* Globals*/
/* for all grid containers */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* for all the elements having this class */
.small-text {
  color: var(--text-small-color);
  position: relative;
  padding-left: 55px;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 0.75rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
.small-text::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 40px;
  height: 2px;
  background-color: var(--text-small-color);
}

/* for all the elements having this class */
.bg-number {
  position: absolute;
  top: 0px;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 5rem;
  color: var(--text-muted-color);
  z-index: 0;
  opacity: 0.5;
}
/* ==============  small devices (phones, 768px and down) ================== */

/* ==== Header section starts  ===== */
/* header */
#header {
  height: 400px;
}
/* Topbar */
#topbar {
  padding-top: 15px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.topbar__logo {
  font-family: Chronicle;
  font-weight: bold;
  font-size: 2rem;
  color: white;
}
.topbar__navigation {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 100%;
  height: 400px;
  z-index: 100;
  background-color: #0b1d26;
  transition: 0.5s;
  transform: translateX(-100%);
}
.topbar__navigation__list {
  padding-top: 50px;
  padding-left: 30%;
}
.topbar__navigation__list li {
  padding-top: 20px;
}
.topbar__navigation__list li a {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 1.75rem;
  color: white;
}
.topbar__account {
  position: absolute;
  top: 250px;
  left: 0px;
  padding-top: 100px;
  padding-left: 25%;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 1.75rem;
  color: white;
  z-index: 100;
  transition: 0.5s;
  transform: translateX(-100%);
}
.fa-bars {
  font-size: 2rem;
  padding-right: 5px;
  color: white;
}

/* active menu class  animation*/
.menu-active {
  transform: translateX(0%);
}

/* Header*/
/* background image */

.bg {
  position: absolute;
  width: 100%;
}
/* last picture */
.bg-one {
  z-index: -99;
  top: 0px;
  left: 0px;
}
/* middle picture */
.bg-two {
  z-index: -98;
  top: 110px;
  left: 0px;
}
/* fornt picture */
.bg-three {
  z-index: -97;
  top: 230px;
  left: 0px;
}

/* banner*/
.banner__body {
  grid-column: 1/12;
  grid-row: 1;
  width: 85%;
  margin: 0 auto;
  padding-top: 50px;
  color: white;
}
.banner__body .small-text {
  margin-left: 10px;
  padding-bottom: 10px;
}
.banner__body__main-text {
  text-align: center;
}
.banner__body__scroll {
  cursor: pointer;
  text-align: center;
  margin-top: 70px;
}
.banner__body__scroll .fa-arrow-down-long {
  margin-left: 5px;
}
/* social links*/
.banner__left {
  grid-row: 2;
  grid-column: 1/13;
  color: white;
  padding-top: 35px;
  padding-bottom: 20px;
}
.banner__left__social {
  display: flex;
  flex-wrap: nowrap;
}
.banner__left__social p,
.banner__left__social i {
  padding-left: 20px;
}
.banner__left__social i {
  font-size: 1.5rem;
}
/* scroll slider*/
.scroll-fixed {
  position: fixed;
  top: 175px;
  right: 10px;
  margin-right: 5px;
  z-index: 99;
}
.scroll {
  display: flex;
  flex-wrap: nowrap;
}
.scroll__text {
  color: white;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 0.9rem;
}
.scroll__text p {
  margin-top: 20px;
}
.scroll__indicator {
  width: 3px;
  height: 135px;
  margin-top: 20px;
  margin-left: 5px;
  background-color: rgba(255, 255, 255, 0.493);
}
.scroll__indicator--active {
  width: 3px;
  height: 30px;
  background-color: #fff;
  transition: .5s;
}
/* ========== Main body starts =========*/
/* main-body*/
#main-body {
  background-color: #0b1d26;
  padding-bottom: 50px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
/* all items */

.items {
  position: relative;
  margin-bottom: 80px;
}
.items .small-text {
  margin-left: 55px;
}
.item__details {
  position: relative;
  grid-row: 1;
  grid-column: 1/13;
  z-index: 99;
  padding-top: 40px;
  color: white;
}
.item__tagline {
  font-family: Chronicle;
  font-size: 2rem;
  margin-top: 20px;
  margin-left: 55px;
  margin-bottom: 20px;
}
.item__details__text {
  font-family: Gilroy;
  /* font-weight: bold; */
  font-size: 1rem;
  word-spacing: 1.25px;
}
.item__img {
  grid-column: 2;
  grid-column: 1/13;
  justify-self: center;
}
.item__img img {
  width: 280px;
  margin-top: 30px;
}

/* read more*/
.read-more {
  color: var(--text-small-color);
  position: relative;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 20px;
  letter-spacing: 2.5px;
}

/* ========== Footer ========== */
/*  footer*/
#footer {
  background-color: #0b1d26;
  margin-top: -50px;
  padding-bottom: 50px;
}
.container {
  color: white;
}
.footer__item--middle {
  grid-row: 1;
  grid-column: 1/13;
}
.footer__item--right {
  grid-row: 2;
  grid-column: 1/13;
}
.footer__item--left {
  grid-row: 3;
  grid-column: 1/13;
  padding-top: 50px;
}

.footer__item--left h2 {
  font-family: Chronicle;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}
.footer__item--left p {
  font-family: Gilroy;
  font-size: 1rem;
  margin: 20px 0;
  color: white;
}
.footer__copyright {
  color: var(--text-muted-color) !important;
  font-size: 0.8rem !important ;
}
.footer__topic {
  color: var(--text-small-color);
  font-family: Gilroy;
  font-weight: bold;
  font-size: 1rem;
  word-spacing: 1.25px;
  margin-top: 50px;
}
.footer__links li {
  margin: 15px 0;
  font-family: Gilroy;
}

/* ======== Medium devices (landscape tablets, 768px and up)  ======= */

@media screen and (min-width: 768px) {
  /* header */
  #header {
    height: 650px;
  }
  /* banner*/
  .banner__body .small-text {
    margin-left: 60px;
    padding-bottom: 10px;
  }
  .banner__body__main-text {
    font-size: 3rem;
  }

  /* social icons*/
  .banner__left {
    margin-left: 40px;
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .banner__left__social {
    font-size: 1.5rem;
  }

  /* footer rearrangements*/
  .footer__item--middle {
    grid-row: 1;
    grid-column: 1/6;
  }
  .footer__item--right {
    grid-row: 1;
    grid-column: 10/13;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  /* limiting the width */
  #header {
    height: 750px;
  }
  #topbar,
  .banner,
  .container {
    width: 85%;
    max-width: 1600px;
    margin: 0 auto;
  }

  /* scroll slider */
  .scroll-fixed {
    right: 12%;
  }
  /* background image */
  .bg-two {
    top: 360px;
  }
  .bg-three {
    top: 550px;
  }
  /* Topbar */
  /* reseting the topbar values*/
  #topbar {
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    place-items: center;
    padding-top: 30px;
  }
  .topbar__navigation,
  .topbar__account,
  .topbar__navigation__list {
    all: initial;
  }
  .topbar__navigation__list {
    display: flex;
  }
  /* topbar logo */
  .topbar__logo {
    grid-column: 1/2;
    font-size: 1.5rem;
  }
  .topbar__navigation {
    grid-column: 4/9;
    width: fit-content;
  }
  .topbar__navigation__list li {
    margin-left: 20px;
    padding-top: initial;
  }
  .topbar__navigation__list li a {
    font-size: 1rem;
  }

  /* topbar right side */
  .topbar__right {
    grid-column: -3/-1;
  }
  .topbar__account {
    color: white;
    font-weight: bold;
  }
  .fa-circle-user {
    margin-right: 5px;
  }
  .fa-bars {
    display: none;
  }

  /* banner area */
  .banner {
    margin-top: 100px;
  }
  /* reseting the girds */
  .banner__left {
    grid-row: 1;
    grid-column: 1/2;
  }
  .banner__left__social {
    display: flex;
    flex-direction: column;
  }
  /* rotating the follow us text */
  .banner__left__social p {
    white-space: nowrap;
    height: 100px;
    font-size: 1rem;
    transform: rotateZ(90deg) translateY(60px);
  }
  .fa-instagram,
  .fa-twitter {
    margin-top: 15px;
    font-size: 1rem !important;
  }
  /* banner body */
  .banner__body {
    grid-row: 1;
    grid-column: 4/11;
  }
  .banner__body__main-text {
    text-align: left;
  }
  .banner__body .small-text {
    margin-left: 0px;
  }
  .banner__body__scroll {
    text-align: left;
    margin-top: 10px;
  }

  /* main-body  */
  /* container resize */
  #main-body .container {
    width: 70%;
    padding-top: 50px;
  }
  .item__img img {
    width: 300px;
}
  /* item one grid reordring */
  .item-one .item__details {
    grid-row: 1;
    grid-column: 1/7;
  }
  .item-one .item__img {
    grid-row: 1;
    grid-column: -5/-1;
  }
  /* item two grid reordring */
  .item-two .item__details {
    grid-row: 1;
    grid-column: -7/-1;
  }
  .item-two .item__img {
    grid-row: 1;
    grid-column: 1/6;
    justify-self: left;
  }
  /* item three grid reordring */
  .item-three .item__details {
    grid-row: 1;
    grid-column: 1/7;
  }
  .item-three .item__img {
    grid-row: 1;
    grid-column: -5/-1;
  }
  .item__details__text,
  .read-more {
    margin-left: 55px;
  }

  /* footer */
  /* container resize */
  #footer .container {
    width: 70%;
  }
  /* reordering grid */
  .footer__item--left {
    grid-row: 1;
    grid-column: 1/5;
  }
  .footer__item--middle {
    grid-row: 1;
    grid-column: 8/10;
  }
  .footer__item--right {
    grid-row: 1;
    grid-column: 11/13;
  }
}


/* ==================================================================== */
/* for invalid items */
.invalid-link{
  cursor: pointer;
}
.invalid-msg{
position: fixed;
display: none;
place-items: center;
top: 30%;
left: 40%;
width: 300px;
height: 200px;
background-color: white;
border: solid 3px red;
}
.invalid-msg p{
  font-family: Gilroy;
  font-weight: bold;
  font-size: 1.75rem;
  word-spacing: 1.25px;
  color: rgb(88, 88, 88);
  text-align: center;
  padding: 5px;
}
.invalid-msg button{
  cursor: pointer;
width: fit-content;
border: none;
padding: 10px;
font-weight: bold;
font-size: 1rem;
background-color: rgb(207, 206, 206);
}